h1{
  text-align: center;
}

#pt5{
  display: none;
}

#pt4{
  display: none;
}

#pt7{
  display: none;
}

#pt6{
  display: none;
}

#titulo{
  font-size: 400%;
}

.main{
  border: 5px outset #526ed1;
  background-color: #68c39f;
  margin: 2%;
}

#tabela{
  display: none;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.score{
  display: flex;
}

.second{
  border: 5px solid black;
  border-radius: 15px 15px 0 0;
  background-color: white;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.fig{
  border: 5px solid black;
  border-radius: 15px 15px 0 0;
  background-color: white;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  width:  250px;
}

#configuration{
  margin-left:5%;
}

.game{
  display: flex;
}

.conjunto{
  display: row;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

h3{
  margin-left: 2%;
}

hr{
  height: 2px;
  background-color: black;
  border: none;
}

/*  */
html, body{
  margin:5px;
  background-color: #449bb5;
}

.tabuleiro{
  display:flex;
  background-color:SaddleBrown;
  height:200px;
  width:800px;
  border-radius:50px;
  padding:30px;
}

.blocos{
  background-color:rgba(255, 255, 255, 0.03);
  margin:5px;
}

.armazem{
  display:flex;
  flex-grow:1;
}

.cavidades{
  display:flex;
  flex-direction:column;
  flex-grow:6;
}


.midrow{
  display:flex;
  flex-grow:1;
}

.pot{
  text-align: center;
  position:relative;
  background-color:rgba(255, 255, 255, 0.08);
  flex-grow:1;
  margin:5px;
  border-radius:50px;
}

.seeds{
  text-align: center;
  position:relative;
	border-radius: 50%;
  margin:auto;
	width: auto;
	height: auto;
  background-color: orange;
}

#login{
  margin-left: 5%;
  display: flex;
}

#account{
  margin-left: 5%;
  display: none;
}
